#map-container {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.heading {
  text-align: center;
  background-color: rgb(36, 179, 131);
  margin: 0;
  padding: 20px;
}

#search {
  width: 350px;
  padding: 7px 5px;
}

.search-form {
  text-align: center;
}

#result-list {
  position: absolute;
  top: 100px;
  z-index: 999;
  left: 60px;
  max-width: 330px;
  overflow: scroll;
  max-height: 85%;
}

@media screen and (max-width: 1000px) {
  #result-list {
    max-width: 200px;
    max-height: 30%;
    top: 130px;
  }
}
