
#map-container {
  height: 75vh;
  position: relative;
}

.behind {
  z-index: -1;
}

.list-item {
  max-width: 250px;
}

h2 {
  margin-bottom: 30px;
  text-align: center;
}

#suggestions {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  text-align: center;
}

.list-group-item {
  background-color: white;
  list-style: none;
  margin-left: -15px;
}

.search-form {
  text-align: center;
}

#search {
  width: 350px;
  padding: 7px 5px;
}

.api-key {
  width: 350px;
  padding: 7px 5px;
}

.wrapper {
  position: relative;
}